*{
    margin: 0;
    position:0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #354f52;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding: 10px;
}
.todoApp{
    width:100%;
    max-width: 540px;
    background: #ec8e8e;
    margin: 100px auto 20px;
    padding:40px 30px 70px ;
    border-radius: 10px;

}
.todoApp h2{
    color:#fffecf;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 40px;

}
.todoApp h2 img {
    width: 60px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0 ;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none
    ;
    outline: none;
    background: transparent;
    padding: 13px;
    font-size: 16px;
}
button{
    border: none;
    outline: none;
    padding:16px 60px;
    background: #f23470;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
  
}
@media screen and (max-width:600px) {
    .row{
        padding-left: 2px;
    }
    .button{
        padding: 10px 20px;
    }
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 40px;
    user-select: none;
    cursor: pointer;
    position: relative;
    color: #f5f7f7;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/icons8-unchecked-100.png);
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 2px;
}

ul li.checked{
    color: #3530308f;
    text-decoration: line-through;
}
ul li.checked::before{
   background-image: url(images/icons8-checked-100.png); 
}

ul li span{
    position:absolute;
    right: 0;
    top:5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color:#555;
    line-height: 40px;
    text-align: center;
}
ul li span:hover{
    background: #edeef0;
    border-radius: 50%;
}